---
const description = "404";
import '../styles/global.css';
---
<section class="container404"></section>
<div class="gif-404">
</div>
<h1>{ description }</h1>
<span>Il semblerait que vous vous soyez aventuré dans la mauvaise forêt!</span>
<p>
    <a href="/portfolio">Retourner à la page d'accueil</a>
</p>
<style>
    body {
        text-align: center;
    }

    .container404 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 16%;
    }

    h1 {
        margin: 0 auto;
        text-align: center;
        border: 0;
        font-size: 120px;
        letter-spacing: 10px;

    }

    span {
        color: #5C5B77;
    }

    a {
        color: #78c2ad;
        text-decoration: none;
    }
</style>
