---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Informations";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/portfolio/blog.webp"/>
    </div>
    <h2>Mes informations</h2>
    <div class="cv">
        <img width="430" height="550" alt="mon-cv" src="/portfolio/cv.png"/>
    </div>
</Layout>
